@import "fonts";
@import "cradle";

* {
  box-sizing: border-box;
  font-weight: normal;
}

html * {
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;

    &::marker {
      display: none;
    }
  }

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "STARWARS", sans-serif;
  background: url("../../assets/img/banner.png") no-repeat 50% 0/cover #000;
  overflow: hidden;
  color: var(--bs-white);
}


.page-menu {
  display: flex;
  justify-content: space-around;
  color: inherit;
  align-self: center;
  margin-top: 20px;
  &__link:first-child {
    margin-right: 25px;
  }
}

.title {
  font-size: 4rem;
  line-height: 4.1rem;
  text-align: center;
  margin: 50px 0 20px;
  text-transform: uppercase;
}

.menu {
  margin: 5% auto 0;

  &-starwars {
    position: relative;
    width: 50px;
    height: 35px;
    transition: 0.3s ease-in-out;

    &__sword {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, #ddd 20%, #000 20% 30%, #fff 0);
      background-size: 50px 100%;
      border-radius: 10px 0 0 10px;
      transition: 0.3s ease-in-out;

      &_sith {
        top: 0;
      }

      &_yoda {
        transform: rotate(180deg) translateY(50%);
        top: 50%;
      }

      &_jedi {
        bottom: 0;
      }
    }

    &:hover &__sword_sith {
      box-shadow: 0 0 10px 4px red;
    }

    &:hover &__sword_yoda {
      box-shadow: 0 0 10px 4px green;
    }

    &:hover &__sword_jedi {
      box-shadow: 0 0 10px 4px dodgerblue;
    }
  }

  &-img {
    position: relative;

    &__vader {
      position: absolute;
      right: 100%;
      max-width: 300px;
      display: none;
    }

    &__yoda {
      display: none;
    }

    &__allince,
    &__empire {
      max-width: 200px;
      position: absolute;
    }

    &__empire {
      display: none;
      right: 230%;
      top: 115%;
      filter: drop-shadow(2px 4px 6px white);
    }

    &__allince {
      display: none;
      left: 310%;
      top: 115%;
      filter: drop-shadow(2px 4px 6px white);
    }
  }

  &-toggle {
    display: none;
    transition: 0.3s;

    &:checked ~ .menu-starwars > .menu-starwars__sword_yoda {
      box-shadow: 0 0 10px 4px green;
      transform: rotate(-45deg);
    }

    &:checked ~ .menu-starwars > .menu-starwars__sword_sith {
      visibility: hidden;
      transition: 0.1s;
    }

    &:checked ~ .menu-starwars > .menu-starwars__sword_jedi {
      top: 50%;
      right: 0;
      transform: rotate(225deg);
      box-shadow: 0 0 10px 4px dodgerblue;
    }

    &:checked ~ .menu-starwars > .menu-img > .menu-img__vader {
      animation: bounceInLeft;
      animation-duration: 2s;
      display: block;
    }

    &:checked ~ .menu-starwars > .menu-img > .menu-img__yoda {
      animation: bounceInRight;
      animation-duration: 2s;
      display: block;
    }


    &:checked ~ .menu-starwars > .menu-img > .menu-img__allince {
      animation-name: bounceInUp, heartBeat;
      animation-duration: 2s, 4s;
      animation-delay: 0s, 2s;
      display: block;
    }

    &:checked ~ .menu-starwars > .menu-img > .menu-img__empire {
      animation-name: bounceInUp, heartBeat;
      animation-duration: 2s, 4s;
      animation-delay: 0s, 2s;
      display: block;
    }
  }
}



